body{
  overflow-x: hidden;
}
#main .scroll{
  animation: teamPlay 2s ease forwards;
}

/*导航开始*/
#nav{ position: fixed; top: 0; left: 0; transform: translateY(-100px); z-index: 1; width: 100%; background-color: #fff; transition: .9s cubic-bezier(.51,.01,0,1); user-select: none; box-shadow: 0 2px 10px rgba(0,0,0,.2); }
#nav .container{ max-width: 1280px; margin: 0 auto; }
#nav .container a.logo{ display: flex; float: left; padding: 15px 0; margin-left: 20px; }
#nav .container a.logo p{ display: none; }
#nav .container a.logo img{ height: 20px; }
#nav .container a.logo i.line{ display: none; }
#nav .container ul.menu{ display: none; }
#nav .container ul.menu>li{ position: relative; transition: .4s; padding: 28px 15px; }
#nav .container ul.menu>li:last-child{ padding-right: 0; }
#nav .container ul.menu>li.active a{ color: #e84117; }
#nav .container ul.menu>li>a{ color: #333; transition: .4s; }
#nav .container ul.menu>li>i.icon{ display: inline-block; width: 6px; height: 3px; margin-left: 5px; background: url("../images/about/nav_arrow.png")no-repeat; }
#nav .container .search{ display: none; }
#nav .container .search input{ border: none; display: inline-block; outline: none; color: #999; width: 100%; line-height: 22px; font-size: 12px; margin-left: 15px; }
#nav .container .search a.icon{ display: inline-block; width: 16px; height: 12px; margin-top: 5px; background: url("../images/about/search.png")no-repeat; margin-right: 15px; }
#nav .container ul.menu>li>ul{ position: absolute; top: 60px; left: 0; width: 210px; background: #fff; box-shadow: 0 0 5px rgba(0,0,0,.3); }
#nav .container ul.menu>li>ul>li{ height: 48px; border-bottom: 1px solid #e6e6e6; }
#nav .container ul.menu>li>ul>li:last-child{ border-bottom: none; }
#nav .container ul.menu>li>ul>li>a{ display: block; text-indent: 20px; line-height: 48px; font-size: 13px; color: #757575; }
#nav .container ul.menu>li>ul>li.active{ background-color: #f2f2f2; }
#nav .container ul.menu>li>ul>li.active a{ color: #757575; }
#nav .container a.nav_tab{ position: absolute; right: 20px; top: 10px; display: block; width: 42px; transition: .4s; }
#nav .container a.nav_tab:hover .bar{ background-color: #b22a00; }
#nav .container a.nav_tab .bar{ display: block; margin: 6px auto 0; width: 90%; height: 2px; background-color: #ff3c00; transition: .4s; }
/*小导航*/
#maskLayer{ display: block; position: fixed; z-index: 1; top: -100vh; width: 100vw; height: 100vh; background: rgba(255,60,0,.9); transition: .4s; }
#smallMenu{ position: fixed; user-select: none; width: 100vw; overflow: hidden; z-index: 1; top: -100vh; display: block; margin: 50px auto 0; transition: .4s; }
#smallMenu .smallUl{ padding: 20px 40px; }
#smallMenu .smallUl>li{ padding: 10px 0; text-align: right; }
#smallMenu .smallUl>li>a{ font-size: 22px; font-family: "Microsoft YaHei"; color: #f1f1f1; }
#smallMenu .smallUl>li>ul.listDown>li{ padding: 10px 0; }
#smallMenu .smallUl>li>ul.listDown>li>a{ font-size: 18px; color: #f1f1f1; margin-left: 15px; }
/* banner */
#main .banner{ height: 100vh; position: relative; perspective: 1200px; }
#main .banner .bg{ transition: .7s cubic-bezier(.51,.01,0,1); height: 84vh; width: 100vw; opacity: 0; background: url("../images/about/guanyu_02.png")no-repeat center/cover; }
#main .banner .bg .title{ font-size: 40px; transition: .8s cubic-bezier(.51,.01,0,1); opacity: 0; color: #666; text-align: center; transform: translateY(-100px); font-weight: lighter; padding-top: 25vh; }
#main .banner .bg .subtitle{ color: #e84117; transition: .8s cubic-bezier(.51,.01,0,1); opacity: 0; font-size: 56px; transform: translateY(-100px); font-weight: lighter; text-align: center; }
#main .banner .redBar{ transition: .6s cubic-bezier(.51,.01,0,1); position: absolute; bottom: 0; left: 0; width: 0; height: 16vh; background-color: #e23f17; }
#main .banner .content{ position: relative; max-width: 1280px; height: 16vh; margin: 0 auto; }
#main .banner .content .aboutInfo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  padding: 28px 0;
  transform-style: preserve-3d;
  transition: .5s cubic-bezier(.51,.01,0,1);
  background-color: #e23f17;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  height: 189px;
}
#main .banner .content>.play{
  padding: 28px 56px;
  width: auto;
  transition: .5s cubic-bezier(.51,.01,0,1);
}
#main .banner .content .maskLayer{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e23f17;
  transition: .3s cubic-bezier(.51,.01,0,1);
}
#main .banner .content .aboutInfo .title{ transition: .4s cubic-bezier(.51,.01,0,1); color: #fff; font-size: 24px; margin-bottom: 20px; opacity: 0; }
#main .banner .content .aboutInfo .info{ transition: .4s cubic-bezier(.51,.01,0,1); font-size: 14px; color: #fff; line-height: 24px; opacity: 0; }
#main .banner .content .aboutInfo .info1{ margin-bottom: 10px; }
/*team*/
#main .team{  background: url("../images/about/team_bg.jpg"); }
#main .team .content{ max-width: 1280px; margin: 0 auto; }
#main .team .content>.title{ padding-top: 57px; }
#main .team .content>.title,#main .team .content>.subtitle{ font-size: 30px; opacity: 0; transition: .4s; font-family: "Arial Black"; color: rgba(255,255,255,.1); }
/*part odd*/
#main .team .content>.info{ font-size: 25px; color: #fff; opacity: 0; margin-bottom: 500px; transition: .4s; }
#main .team .content .part{ display: flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; perspective: 1200px; transition: 4000ms cubic-bezier(0.03, 0.98, 0.52, 0.99); padding-left: auto; }
#main .team .content .part .poster{ position: relative; margin: 0 auto; float: none; width: auto; height: auto; }

#main .team .content .part .poster .redLine{
  transform-style: preserve-3d;
  display: none;
  position: static;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 346px;
  opacity: 0;
  border: 2px solid #e84117;
}
#main .team .content .part .poster img.img{
  transform-style: preserve-3d;
  display: block;
  position: static;
  width: auto;
  height: auto;
  opacity: 0;
}
#main .team .content .part .message{
  transform-style: preserve-3d;
  position: relative;
  width: auto;
  height: auto;
  padding: 20px 50px;
  float: none;
  margin-top: 30px;
  opacity: 0;
}
@keyframes teamPlay {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform:  translateY(0px);
    opacity: 1;
  }
}
#main .team .content .part .message p.title>span{ font-size: 20px; color: #e84117; margin-right: 25px; }
#main .team .content .part .message p.title>b{ font-size: 28px; color: #fff; font-weight: lighter; }
#main .team .content .part .message>.info{ position: static; right: 0; top: 86px; width: auto; height: auto; }
#main .team .content .part .message>.info p.introduce{ font-size: 20px; color: #e84117; }
#main .team .content .part .message>.info p.text{ color: #fff; font-size: 14px; }
#main .team .content .part .message>.info p.text1{ margin-top: 17px; }
#main .team .content .part .message>.info p.text2{ margin-top: 17px; }
#main .team .content .part .message>.info p.text3{ margin-top: 17px; line-height: 24px; }
/*part even*/
#main .team .content .even .poster{ float: none; order: 1; -webkit-order: 1; }
#main .team .content .even .message{ float: none; order: 2; -webkit-order: 2; }
#main .team .content .part1,#main .team .content .part2,#main .team .content .part3,#main .team .content .part4{ padding-bottom: 150px; }
/*iconTab*/
#main .iconTab{ display: none; border-bottom: 1px solid #eee; height: 130px; opacity: 0; }
#main .iconTab .content{ position: relative; width: 1280px; margin: 0 auto; height: 100%; }
#main .iconTab .content>ul{ text-align: center; height: 100%; }
#main .iconTab .content>ul>li{ display: inline-block; padding-right: 72px; margin-top: 32px; cursor: pointer; }
#main .iconTab .content>ul>li:last-child{ padding-right: 0; }
#main .iconTab .content>ul>li i.icon{ display: block; margin: 0 auto; width: 44px; height: 44px; background: url("../images/about/icon_1.png") no-repeat; }
#main .iconTab .content>.line{ position: absolute; left: 145px; width: 60px; height: 2px; background-color: #e84117; }
#main .coreTitle{ height: 236px; background-color: #fafafa; }
#main .coreTitle .title{ font-size: 36px; color: #333; text-align: center; padding-top: 36px; }
#main .coreTitle .subtitle{ font-size: 14px; color: #666; text-align: center; margin-top: 30px; }
#main .coreTitle .subtitle:last-child{ margin-top: 10px; }

/*imgAd*/

#main .imgAd{ background-color: #fafafa; padding-bottom: 80px; }
#main .imgAd .content{ width: auto; margin: 0 auto; display: block; }
#main .imgAd .content .ad1{ max-width: 456px; margin: 0 auto 32px; }
#main .imgAd .content .ad1 .img{ height: 410px; }
#main .imgAd .content .ad1 .img>img{ display: block; height: 100%; }
#main .imgAd .content .ad1 .showText{ padding: 40px 35px; background-color: #38363c; }
#main .imgAd .content .ad1 .showText .t{ color: #fff; font-size: 14px; line-height: 24px; }
/*ad*/
#main .imgAd .content .ad2,#main .imgAd .content .ad3{ margin: 0 auto; max-width: 456px; }
#main .imgAd .content .ad3{ display: block; }

#main .imgAd .content .adView{
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 32px;
}
#main .imgAd .content .adView .img{
  position: relative;
  height: 234px;
  overflow: hidden;
}
#main .imgAd .content .adView .img>img{
  height: 100%;
  width: 100%;
}
#main .imgAd .content .adView .showText{
  position: relative;
  height: 65px;
}
#main .imgAd .content .adView .showText p{
  height: 100%;
  background-color: #38363c;
  transition: .5s cubic-bezier(.51,.01,0,1);
  text-align: center;
  line-height: 65px;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
}
#main .imgAd .content .adView .hiddenText{
  position: absolute;
  top: 260px;
  left: 0;
  opacity: 1;
  transition: .5s cubic-bezier(.51,.01,0,1);
  width: auto;
  height: 159px;
  background-color: #e84117;
  padding: 38px;
}
#main .imgAd .content .adView .hiddenText .line{
  background: #e84117;
  top: 0;
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
  transition: .5s cubic-bezier(.51,.01,0,1);
  -webkit-transform: skewY(0deg);
  -ms-transform: skewY(0deg);
  transform: skewY(0deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
#main .imgAd .content .adView .hiddenText .t{
  font-size: 12px;
  color: #fff;
  line-height: 22px;
}

#main .tip{
  background-color: #e84117;
  height: auto;
}
#main .tip .content{
  width: auto;
  margin: 0 auto;
  padding: 26px 20px;
}
#main .tip .content p.text{
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}













/*没有小于768px，是因为Bootstrap3以移端优先设计*/
/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
  #main .banner .content .aboutInfo{ width: 0; }
  #main .banner .content>.play{ padding: 28px 56px; width: 395px; transition: .5s cubic-bezier(.51,.01,0,1); }
  #main .banner .bg .title{ font-size: 64px; }
  #main .banner .bg .subtitle{ font-size: 80px; }
  #main .banner>.active{ width: 100vw; }
  /*team*/
  #main .team .content>.title,#main .team .content>.subtitle{ font-size: 65px; }
  #main .team .content>.info{ font-size: 36px; }

  #main .team .content .part{ display: flex; padding-left: 67px; }
  #main .team .content .part .poster{  margin: auto; float: left; width: 332px; height: 394px; }
  #main .team .content .part .poster .redLine{ position: absolute; display: block; }
  #main .team .content .part .poster img.img{ position: absolute; bottom: 18px; left: 48px; width: 284px; height: 376px; }
  #main .team .content .part .message{ position: relative; width: 532px; height: 263px; float: right; margin-top: 70px; }
  #main .team .content .part .message>.info{ position: absolute; width: 424px; height: 175px; }
  #main .team .content .even .poster{ float: none; order: 1; -webkit-order: 1; }
  #main .team .content .even .message{ float: none; order: 2; -webkit-order: 2; }
  /*iconTab*/
  #main .iconTab{ display: block; }
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 820px) {
  /*ad*/
  #main .imgAd .content{ display: flex; flex-flow: row wrap; }
  #main .imgAd .content .ad3{ display: flex; max-width: none; width: 100%; justify-content: center; margin: 0; }
  #main .imgAd .content .ad3 .adView:first-child{ width: 456px; }
  #main .imgAd .content .ad3 .adView{ margin: 0 auto 32px; }
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
  /*大导航*/
  #nav .container a.logo{ display: flex; float: left; padding: 23px 0; margin: auto; }
  #nav .container a.logo img{ height: 26px; margin-top: 3px; }
  #nav .container ul.menu{ display: flex; float: right; margin-right: 54px; }
  #nav .container .search{ float: right; height: 22px; width: 156px; border: 1px solid #e6e6e6; border-radius: 11px; margin: 28px 0; display: flex; }
  #nav .container a.nav_tab{ display: none; }
  /*小导航*/
  #smallMenu { display: none; }
  #maskLayer{ display: none; }
}


/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
  #nav .container a.logo p{ display: block; line-height: 32px; font-size: 16px; color: #474241; margin-left: 10px; }
  #nav .container a.logo i.line{ display: block; background: #000; width: 1px; height: 32px; margin-left: 10px; }
  #nav .container ul.menu>li{ position: relative; padding: 28px 25px; }

  #main .tip{ height: 145px; }
  #main .tip .content{ width: 1280px; }
  /*ad*/
  #main .imgAd .content{ display: flex; width: 1280px; flex-flow: row nowrap; }
  #main .imgAd .content .ad1{ margin-right: 62px; }
  #main .imgAd .content .ad2{ margin-right: 62px; }
  #main .imgAd .content .ad3{ display: block; max-width: 456px; width: auto; }
  #main .imgAd .content .ad3 .adView{ margin: 0 auto 32px;  }
  #main .imgAd .content .ad3 .adView:first-child{ width: auto;  }
  /*team*/
  #main .team .content .part{ display: block; padding-left: 67px; }
  #main .team .content .even .poster{ float: right; order: 0; -webkit-order: 0; }
  #main .team .content .even .message{ float: left; order: 0; -webkit-order: 0; }
}