#banner{ height:722px; background:url(../images/kalendar/common_bg.png) no-repeat; position:relative; z-index:10;}
#banner2{display:none;}
#banner2 img{width:100%;}
#banner .wrapper{width:1200px; height:722px; margin:0 auto; position:relative;}
#banner .banner_pic1{position:absolute; left:728px; top:62px; z-index:5;}
#banner .banner_pic2{position:absolute; left:30px; top:196px;}
#banner .banner_pic3{position:absolute; left:205px; top:463px;}
#banner .banner_pic4{position:absolute; left:473px; top:463px;}
#banner .banner_pic5{position:absolute; left:932px; top:463px; z-index:4;}
#banner .banner_txt1{font-size:24px; color:#fff; position:absolute; left:366px; top:266px; z-index:4;}
#banner .banner_txt2{font-size:12px; color:#fff; position:absolute; left:366px; top:307px; z-index:4; width:324px;}
@media screen and (max-width:750px) {
    #banner2{display:block;}
    #banner{display:none;}
}

#imgList{
    position:relative;
    z-index:11;
    top:-70px;
}
#imgList .tipText{
    text-align: center;
    padding-top: 32px;
}
#imgList .tipText .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/data/title_icon.png")no-repeat;
    vertical-align: bottom;
    margin-right: 32px;
}
#imgList .tipText span{
    display: inline-block;
    font-size: 24px;
    color: #333;
    vertical-align: top;
}

/*股票图片列表*/
#imgList{
    margin-top: 56px;
    background: url("../images/data/bg1.jpg");
}
#imgList ul{
    width: auto;
    margin: 32px auto 0;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#imgList ul li{
    width: 332px;
    height: 244px;
    overflow: hidden;
    padding: 0 12px 12px 0;
}
#imgList ul li:last-child{
    margin-right: 0;
}
#imgList ul li>p.title{
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #1d2434;
    font-size: 14px;
    color: #fff;
}
#imgList ul li .img{
    height: 208px;
}
#imgList ul li .img img{
    width: 100%;
    height: 100%;
}
/*table*/
#table{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    padding-top: 62px;
}
#table .tableBg{
    overflow-x: scroll;
    margin: 0 auto;
    padding: 44px 38px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
#table .tableBg table{
    width: 1278px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #000;
}
#table .tableBg table tr td:first-child{
    padding: 18px 75px;
}
#table .tableBg table tr td:last-child{
    padding: 18px 75px;
}
#table .tableBg table thead{
    background-color: #e84117;
    color: #fff;
}

#table .tableBg table td{
    padding: 18px 38px;
    border: 1px solid #000;
    text-align: center;
}
#table>.info ul{
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#table>.info ul li{
    margin: 40px 0;
    padding: 0 104px;
}
#table>.info ul li b{
    font-size: 12px;
    font-weight: inherit;
    color: #000;
    transition: .4s;
}
#table>.info ul li span{
    font-size: 12px;
    color: #e84117;
    transition: .4s;
}
/*警告*/
#warning{
    padding: 52px 0;
}
#warning p{
    width: auto;
    margin: 0 auto;
    color: #999;
    background-color: #fefefe;
    border: 1px solid  #eee;
    padding: 20px;
    line-height: 20px;
    transition: .4s;
}
#warning p span{
    color: #e84117;
}



/*没有小于768px，是因为Bootstrap3以移端优先设计*/
/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
    #table>.info ul li b { font-size: 16px; }
    #table>.info ul li span { font-size: 16px; }
}
/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
}
/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1280px) {
    #imgList ul{ width: 1364px;}
    #imgList ul li { margin: 0 12px 0 0; padding: 0; }
    #table .tableBg{ overflow: hidden; }
    #table>.info ul{ width: 1280px; display: flex; }
    #warning p{ width: 1364px; padding: 12px 104px;}
    #table>.info ul li b { font-size: 18px; }
    #table>.info ul li span { font-size: 18px; }
}