/*
* @Author: Marte
* @Date:   2018-01-08 18:20:10
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-11 18:19:08
*/
.bk{border:1px solid #000;}
/* banner 样式*/

#banner{ height:722px; background:url(../images/kalendar/common_bg.png) no-repeat;}
#banner .wrapper{width:1200px; height:722px; margin:0 auto; position:relative;}
#banner .banner_pic1{position:absolute; left:728px; top:62px; z-index:5;}
#banner .banner_pic2{position:absolute; left:30px; top:196px;}
#banner .banner_pic3{position:absolute; left:205px; top:463px;}
#banner .banner_pic4{position:absolute; left:473px; top:463px;}
#banner .banner_pic5{position:absolute; left:932px; top:463px; z-index:4;}
#banner .banner_txt1{font-size:24px; color:#fff; position:absolute; left:366px; top:266px; z-index:4;}
#banner .banner_txt2{font-size:12px; color:#fff; position:absolute; left:366px; top:307px; z-index:4; width:324px;}
/* 文章详情 */
#article{height:844px; background:url(../images/Early/article_bg.jpg) no-repeat; padding-top:100px; position:relative;}
#article .article_title{text-align:center;}
#article .article_title h3{font-size:24px; color:#333;}
#article .article_cont{padding-top:68px;}
#article .article_cont h4 img{margin-right:10px; margin-left:-13px;}
#article .article_cont .cont_txt{border-left:1px solid #eee; padding-left:20px; font-size:12px; color:#666; line-height:22px;}
#article .relief{background-color:#fefefe; padding:0 90px; font-size:12px; color:#999; border:1px solid #eee; margin-top:80px; line-height:20px; padding-top:10px;}
#article .relief span{color:#e84117;}
@media screen and (max-width:1400px) {
    #article .relief{padding:10px 30px 0;}
}