/*
* @Author: Marte
* @Date:   2018-01-05 16:55:32
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-24 17:08:57
*/
.bk{border:1px solid red;}
*{margin:0; padding:0;}
body{font-family: "微软雅黑";color:#333;overflow-y:scroll; background-color:#fff;z-index:100;}
/* banner 样式*/
#index_banner,#index_banner2{position:relative;}
#index_banner video,#index_banner2 video{width:100%; opacity:1; height:100%;}
#demo1{width:100%!important;position:absolute; left:0; top:0;display:none; background-color:#e84117;}
#demo1 .bn_box{width:100%; text-align:center; color:#fff;}
#demo1 .bn_box .bn_wrapper{padding-top:180px;}
#demo1 .bn_box .bn_text_box{display:inline-block;*display:inline;*zoom:1;position:relative; width:400px; height:120px; }
#demo1 .bn_box .bn_text{font-size:48px; opacity:0;}
#demo1 .bn_box .bn_text_over{position:absolute;top:0;background-color:#fff; width:0%; height:80px;}
#demo1 .bn_pic_box{position:relative; width:575px; height:128px; text-align:center;left:50%; top:50%; margin-left:-287px; margin-top:64px;}
#demo1 .bn_pic_over{position:absolute; top:0; width:0; height:128px; background-color:#fff;}
#demo1 .banner_logo{width:575px; height:128px;position:absolute; left:0; top:0;opacity:0;}
#demo1 .bn_text2_box{position:relative; width:180px; height:60px; text-align:center;left:50%; top:50%; margin-left:-90px; }
#demo1 .bn_box .bn_text2{font-size:36px; padding:50px 0; opacity:0;}
#demo1 .bn_box .bn_text2_over{position:absolute; top:50px; width:0; height:60px; background-color:#fff;}
#demo1 .shibo{position:relative;width:150px; height:34px; left:50%; top:50%; margin-left:-75px; top:100px;}
#demo1 .bn_box .shibo>a{width:150px; height:34px; border:1px solid #fff; display:inline-block;*diplay:inline;*zoom:1; line-height:34px; position:relative; z-index:100; text-decoration:none; opacity:0; transition:all .5s;}
#demo1 .bn_box .shibo>a:link,#demo1 .bn_box .shibo>a:visited{color:#fff;}
#demo1 .bn_box .shibo>a{pointer-events: auto!important;}
#demo1 .bn_box .shibo>a:hover{color:#e84117; background-color:#fff;}
#demo1 .shibo_over{position:absolute; top:0; width:0; height:34px; background-color:#fff;}
#demo1 .bn_small{width:7.5rem; height:3.7rem; display:none; margin-top:-1rem;}
/* ie banner 样式*/
#index_banner2 #demo1 img{position:absolute;}


@media screen and (max-width: 1450px) {
    #demo1 .bn_box .bn_wrapper{padding-top:100px;}
    #demo1 .bn_pic_box{margin-top:0;}
    #demo1 .shibo{top:60px;}
}
@media screen and (max-width:800px) {
    body{width:7.5rem;}
    #demo1 .bn_box .bn_text_box{display:none;}
    #demo1 .bn_pic_box{display:none;}
    #demo1 .bn_text2_box{display:none;}
    #demo1 .bn_small{display:block;}
    #demo1 .shibo{top:10px;}
}

/* 解决方案 */
@media screen and (min-width:800px) {
    #in_method{height:324px;}

}
#in_method{width:100%; border:1px solid #eee; background-color:#fafafa; text-align:center;font-size:36px; line-height:64px; position:relative; z-index:100; top:-80px;}
#in_method .in_method_title{ color:#333; padding-top:50px;}
#in_method .in_method_middle{font-weight:bold;}
#in_method .in_method_title span{color:#e84117;}
#in_method .in_method_last{font-size:32px; }
@media screen and (max-width:800px) {
    #in_method{top:80px;}
}
/* 团队成员样式*/
@media screen and (min-width:1300px) {
    #team{height:800px;}
}
#team{width:100%;background:url(../images/index/picture_tmbackground.png) no-repeat;}
#team .team_title{font-size:32px; color:#333; text-align:right; font-weight:bold; padding-top:73px; padding-bottom:60px;}
#team .team_title .to_bottom{margin-left:17px;}
#team .team_title .team_wenzi{padding-top:90px;}
#team .content{
    width: auto;
    margin: 0 auto;
    transition: .4s;
}
#team .content ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: .4s;
    height: auto;
}
#team .content ul li{
    position: relative;
    box-shadow:  0 2px 10px rgba(0,0,0,.1);
    margin: 0 0 20px 20px;
    overflow: hidden;
    height: 378px;
    transition: .4s;
}
#team .content ul li.hold{
    height: 420px;
}
#team .content ul li .img{
    height: 294px;
}
#team .content ul li .img img{
    width: 100%;
    height: 100%;
}
#team .content ul li .info{
    border: 1px solid #eee;
    padding: 15px 0 16px 0;
    background-color: #fff;
    opacity: 1;
}
#team .content ul li.hold .info{
    opacity: 0;
}
#team .content ul li .info .t1{
    font-size: 18px;
    color: #333;
    text-align: center;
}
#team .content ul li .info .t2{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 10px 0 0 0;
}
#team .content ul li:nth-of-type(4){
    margin-right: 0;
}
#team .content ul li .hiddenText{
    position: absolute;
    top: -340px;
    left: 0;
    background-color: #e84117;
    color: #fff;
    transition: .4s;
    font-size: 12px;
    padding: 34px 20px 46px;
    width: 100%;
}
#team .content ul li .hiddenImg{
    position: absolute;
    bottom: -170px;
    left: 0;
    transition: .4s;
    width: 100%;
    background-color: #fff;
}
#team .content ul li .hiddenImg img{
    position: relative;
    z-index: 1;
    width:82px;
}
#team .content ul li.hold .hiddenImg{
    bottom: 0;
}
#team .content ul li.hold .hiddenText{
    top: 0;
}
#team .content ul li.hold .hiddenText span{
    margin-right:5px;
}
#team .content ul li.hold .hiddenText .team_zhang{
    padding-bottom:60px;
}
#team .content ul li.hold .hiddenText .team_liu{
    padding-bottom:10px;
}
#team .content ul li.hold .hiddenText .team_wu{
    padding-bottom:45px;
}
#team .content ul li.hold .hiddenText .team_wang{
    padding-bottom:30px;
}
#team .content ul li .hiddenImg img{
    display: block;
    margin: 0 auto;
}
#team .content ul li .hiddenImg .name{
    font-size: 18px;
    color: #e84117;
    margin-top: 10px;
    text-align: center;
}
#team .content ul li .hiddenImg .title{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 14px;
}
/* 产业 */
#indus{height:328px; background-color:#1e1e20; margin-bottom:110px;}
#indus h3{font-size:36px; color:#fff; text-align:center; padding:50px 0 66px;}
#indus .indus_box{padding-left:2%;}
#indus .indus_box li{float:left; width:12%; height:140px; text-align:center; transition:all .5s; position:relative; }
#indus .indus_box .inner{width:100%; height:100%; background-color:#e84117;}
#indus .indus_box li img{margin-top:32px; position:relative; z-index:10; transition:all .1s;}
#indus .indus_last{border-right:0!important;}
#indus p{color:#fff; position:relative; z-index:10;}
@media screen and (max-width:1400px) {
    #indus{height:100%;}
    #indus .indus_box li{width:24%;}
    #indus .indus_box li:hover{background-color:#e84117;}
}
@media screen and (min-width:1400px) {
    #indus .indus_box li:hover{background-color:#e84117!important;transform:scale(1.2)!important;margin-top:20px;}
}
/* 市场新闻 */

#MKT_new{width:100%; height:2074px; background:url(../images/index/new_bg.jpg) no-repeat;}
#MKT_new .new_box{width:88%; height:100%; background-color:#fff; margin:0 auto; box-shadow:0 0 10px #e3e2e2; position:relative; top:-43px;}
#MKT_new .new_box h3{font-size:36px; text-align:center; padding-top:58px; padding-bottom:35px;}
#MKT_new .new_title{width:250px; border-top:1px solid #eee; border-bottom:1px solid #eee; height:52px; margin:0 auto; margin-bottom:64px;}
#MKT_new .new_title li{float:left; width:80px; height:28px; text-align:center; font-size:12px; color:#666; line-height:28px; margin-top:12px; cursor:pointer;}
#MKT_new .new_title .new_hover{width:80px;background-color:#e84117; color:#fff;}
#MKT_new .new_hover{width:80px;background-color:#e84117; color:#fff;}
#MKT_new .new_title li.new_title1{margin-left:35px; margin-right:10px;}
#MKT_new .new_title li.new_title2{margin-left:10px; margin-right:35px;}
#MKT .new_cont_box{position:relative;}
#MKT .new_cont_box .new_cont{position:absolute; left:0; top:0;}
#MKT_new .new_cont img{padding-bottom:22px!important; width:100%;}
#MKT_new .new_cont>div{border-bottom:1px solid #e6e6e6;}
#MKT_new .new_cont_middle{padding-top:18px;}
#MKT_new .new_cont_right{text-align:right; padding-top:18px;}
#MKT_new .new_cont_right .new_details{float:right; width:80px; height:30px; line-height:30px; border:1px solid #e6e6e6; text-align:center; margin-top:50px;}
@media screen and (max-width:1400px) {
    #MKT_new{height:100%;}
    #MKT_new .new_cont .new_cont_right{text-align:left;}
    #MKT_new .new_cont .new_cont_right .new_details{float:left;}
    #MKT_new .new_cont>div{border-bottom:1px solid transparent;}
}
/* 合作伙伴 */
#cooperate{width:100%; text-align:center;}
#cooperate h3{font-size:36px; padding:28px 0;}
#cooperate img{width:100%;}
@media screen and (min-width:1000px){
    #cooperate{height:330px;}
}
/* 合作伙伴 */
#addfooter{width:100%; position:relative;}
#addfooter .footer_up{background-color:#171618; color:#fff; padding:34px 0;}
#addfooter .footer_up .two{border-left:1px solid #333;border-right:1px solid #333; text-align:center;}
#addfooter .footer_up .three{text-align:right;}
#addfooter .footer_down{background:url(../images/footer/footer_bg.png) no-repeat center; }
// #addfooter .footer_down_box{padding-top:140px;}
#addfooter .footer_down .footer_wechat>li{float:left; color:#fff; width:80px; margin-right:20px; text-align:center;}
#addfooter .footer_down li img{margin-bottom:14px;}
#addfooter .footer_down .footer_logo{padding-bottom:40px;padding-top:70px;}
#addfooter .footer_down .footer_right{padding-top:70px;}
#addfooter .footer_down .footer_right>li{float:left; margin-left:56px;}
#addfooter .footer_down .footer_next_title>a{color:#fff; font-weight:bold; font-size:14px; text-decoration:none; margin-bottom:28px;}
#addfooter .footer_down .footer_next_cont>a{font-size:12px; text-decoration:none; display:block; margin-bottom:30px;}
#addfooter .footer_down .footer_next_cont>a .footer_line{display:inline-block;*display:inline;*zoom:1;width:16px; height:1px; background-color:#333; margin-right:12px;}
#addfooter .footer_down .footer_next_cont>a:link,#addfooter .footer_down .footer_next_cont>a:visited{color:#666;}
#addfooter .footer_shengming{padding-top:100px; text-align:justify;}
#addfooter .footer_line2{width:90%; height:1px; background-color:#333; position:absolute; bottom:80px; left:50%; margin-left:-45%;}
#addfooter .footer_bottom{padding-top:50px;  text-align:center; font-size:12px; color:#fff;padding-bottom:40px;}
@media screen and (max-width:1400px){
   #addfooter .footer_down{background-color:#1f1e21;}
}
/* 浮动导航 */
#fixed_nav{position:fixed; right:0; top:200px; z-index:101; box-shadow:0 0 10px rgba(0,0,0,.25);}
#fixed_nav>ul{margin-bottom:0!important;}
#fixed_nav .nav_box>li{width:80px; height:80px; background-color:#fff; text-align:center; padding-top:22px; position:relative; font-size:12px; color:#999; cursor:pointer;}
#fixed_nav .nav_box>li p{padding-top:10px;}
#fixed_nav .nav_box .fixed_first{background-color:#e84117; color:#fff;}
#fixed_nav .nav_box .fixed_last{background-color:#333;color:#fff;}
#fixed_nav .line{position:absolute; left:6px; bottom:0; width:68px; height:1px; background-color:#f2f2f2;}
#fixed_nav .nav_box a:link,#fixed_nav .nav_box a:visited{text-decoration:none; color:#999;}

