/*
* @Author: Marte
* @Date:   2018-01-05 16:55:32
* @Last Modified by:   Marte
<<<<<<< HEAD
* @Last Modified time: 2018-01-08 15:42:56
=======
* @Last Modified time: 2018-01-09 17:10:21
>>>>>>> yiva-sun
*/
.bk{border:1px solid red;}
*{margin:0; padding:0;}
body{font-family: "微软雅黑";color:#333;}
#index_banner video{width:100%;}
<<<<<<< HEAD
#in_method{width:100%; height:324px; border:1px solid #eee; background-color:#fafafa; text-align:center;font-size:36px; line-height:64px;}
=======
@media screen and (min-width:800px) {
    #in_method{height:324px;}
    #team{height:814px;}
}
#in_method{width:100%; border:1px solid #eee; background-color:#fafafa; text-align:center;font-size:36px; line-height:64px;}
>>>>>>> yiva-sun
#in_method .in_method_title{ color:#333; padding-top:100px;}
#in_method .in_method_middle{font-weight:bold;}
#in_method .in_method_title span{color:#e84117;}
#in_method .in_method_last{font-size:32px; }
/* 团队成员样式*/
<<<<<<< HEAD
<<<<<<< HEAD
#team{width:100%; height:814px; background:url(../images/index/picture_tmbackground.png) no-repeat;}
=======
#team{width:100%; height:auto; background:url(../images/index/picture_tmbackground.png) no-repeat;}
>>>>>>> 55a142aec74f481d04dad403590a0ca8cffa4cb0
#team .team_title{font-size:32px; color:#333; text-align:right; font-weight:bold; padding-top:166px; padding-bottom:60px;}
=======
#team{width:100%; background:url(../images/index/picture_tmbackground.png) no-repeat; padding-top:72px;}
#team .team_title{font-size:32px; color:#333; text-align:right; font-weight:bold; padding-top:94px; padding-bottom:60px;}
>>>>>>> yiva-sun
#team .team_title .to_bottom{margin-left:17px;}
#team .content{
    width: auto;
    margin: 0 auto;
    transition: .4s;
}
#team .content ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: .4s;
    height: auto;
}
#team .content ul li{
    position: relative;
    box-shadow:  0 2px 10px rgba(0,0,0,.1);
    margin: 0 0 20px 20px;
    overflow: hidden;
    height: 378px;
    transition: .4s;
}
#team .content ul li.hold{
    height: 420px;
}
#team .content ul li .img{
    height: 294px;
}
#team .content ul li .img img{
    width: 100%;
    height: 100%;
}
#team .content ul li .info{
    border: 1px solid #eee;
    padding: 15px 0 16px 0;
    background-color: #fff;
    opacity: 1;
}
#team .content ul li.hold .info{
    opacity: 0;
}
#team .content ul li .info .t1{
    font-size: 18px;
    color: #333;
    text-align: center;
}
#team .content ul li .info .t2{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 10px 0 0 0;
}
#team .content ul li:nth-of-type(4){
    margin-right: 0;
}
#team .content ul li .hiddenText{
    position: absolute;
    top: -340px;
    left: 0;
    background-color: #e84117;
    color: #fff;
    transition: .4s;
    font-size: 12px;
    padding: 34px 14px 46px;
    width: 100%;
}
#team .content ul li .hiddenImg{
    position: absolute;
    bottom: -160px;
    left: 0;
    transition: .4s;
    width: 100%;
    background-color: #fff;
}
#team .content ul li .hiddenImg img{
    position: relative;
    z-index: 1;
}
#team .content ul li.hold .hiddenImg{
    bottom: 0;
}
#team .content ul li.hold .hiddenText{
    top: 0;
}
#team .content ul li .hiddenImg img{
    display: block;
    margin: 0 auto;
}
#team .content ul li .hiddenImg .name{
    font-size: 18px;
    color: #e84117;
    text-align: center;
}
#team .content ul li .hiddenImg .title{
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 14px;
}
    /* 产业 */
#indus{height:328px; background-color:#1e1e20; margin-bottom:110px;}
#indus h3{font-size:36px; color:#fff; text-align:center; padding:50px 0 66px;}
#indus .indus_box{padding-left:2%;}
#indus .indus_box li{float:left; width:12%; height:140px; text-align:center; border-right:1px solid #333; transition:all .5s; position:relative;}
<<<<<<< HEAD
// #indus .indus_box li:hover{background-color:#e84117; height:178px; border:0;}
#indus .indus_box .inner{}
#indus .indus_box li img{margin-top:32px;}
#indus .indus_last{border-right:0!important;}
#indus p{color:#fff;}
=======
#indus .indus_box li:hover img{transform:scale(1.2)}
#indus .indus_box .inner{width:100%; height:100%; background-color:#e84117;}
#indus .indus_box li img{margin-top:32px; position:relative; z-index:10; transition:all .5s;}
#indus .indus_last{border-right:0!important;}
#indus p{color:#fff; position:relative; z-index:10;}
>>>>>>> yiva-sun
/* 市场新闻 */
#MKT_new{width:100%; height:2074px; background:url(../images/index/new_bg.jpg) no-repeat;}
#MKT_new .new_box{width:88%; height:100%; background-color:#fff; margin:0 auto; box-shadow:0 0 10px #e3e2e2; position:relative; top:-43px;}
#MKT_new .new_box h3{font-size:36px; text-align:center; padding-top:58px; padding-bottom:35px;}
#MKT_new .new_title{width:250px; border-top:1px solid #eee; border-bottom:1px solid #eee; height:52px; margin:0 auto; margin-bottom:64px;}
<<<<<<< HEAD
#MKT_new .new_title li{float:left; width:80px; height:28px; text-align:center; font-size:12px; color:#666; line-height:28px; margin-top:12px; }
=======
#MKT_new .new_title li{float:left; width:80px; height:28px; text-align:center; font-size:12px; color:#666; line-height:28px; margin-top:12px; cursor:pointer;}
>>>>>>> yiva-sun
#MKT_new .new_title .new_hover{width:80px;background-color:#e84117; color:#fff;}
#MKT_new .new_hover{width:80px;background-color:#e84117; color:#fff;}
#MKT_new .new_title li.new_title1{margin-left:35px; margin-right:10px;}
#MKT_new .new_title li.new_title2{margin-left:10px; margin-right:35px;}
<<<<<<< HEAD
=======
#MKT .new_cont_box{position:relative;}
#MKT .new_cont_box .new_cont{position:absolute; left:0; top:0;}
>>>>>>> yiva-sun
#MKT_new .new_cont img{padding-bottom:22px!important;}
#MKT_new .new_cont>div{border-bottom:1px solid #e6e6e6;}
#MKT_new .new_cont_middle{padding-top:18px;}
#MKT_new .new_cont_right{text-align:right; padding-top:18px;}
#MKT_new .new_cont_right .new_details{float:right; width:80px; height:30px; line-height:30px; border:1px solid #e6e6e6; text-align:center; margin-top:50px;}
/* 合作伙伴 */
#cooperate{width:100%; height:330px; text-align:center;}
<<<<<<< HEAD
<<<<<<< HEAD
#cooperate h3{font-size:36px; padding:20px 0;}
=======
#cooperate h3{font-size:36px; padding:28px 0;}
#cooperate img{width:100%;}
>>>>>>> yiva-sun
=======
#cooperate h3{font-size:36px; padding:20px 0;}



@media (min-width: 1200px) {
    #team{height:814px;}
    #team .content{ width: 1280px; }
    #team .content ul{ height: 378px; }
    #team .content ul li{ width: 294px; margin: auto; }
}
>>>>>>> 55a142aec74f481d04dad403590a0ca8cffa4cb0
