/*
* @Author: Marte
* @Date:   2018-01-09 11:59:55
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-09 18:32:41
*/
/* banner 样式*/
#banner{position:relative; background:url(../images/kalendar/common_bg.png) no-repeat; height:722px;}
#banner .wrapper{width:1200px; height:722px; margin:0 auto; position:relative;}
#banner .banner_pic1{position:absolute; left:805px; top:100px; z-index:5;}
#banner .banner_pic2{position:absolute; left:0px; top:233px;}
// #banner .banner_pic3{position:absolute; left:205px; top:463px;}
#banner .banner_pic3{position:absolute; left:649px; top:494px;z-index:0;}
#banner .banner_pic4{position:absolute; left:900px; top:494px; z-index:0;}
#banner .banner_txt1{font-size:24px; color:#fff; position:absolute; left:36px; top:94px; z-index:4;}
#banner .banner_txt2{font-size:12px; color:#fff; position:absolute; left:36px; top:133px; z-index:4; width:324px;}
/* data 样式*/
#data{padding-top:90px; position:relative; z-index:10; background-color:#fff;}