/*轮播*/
#banner{ position: relative; transition: .4s; height: 280px; overflow: hidden; }
#banner .imgTab{ position: relative; height: 100%; border-bottom: 2px solid #fff; }
#banner .imgTab ul{ transition: .4s; position: relative; height: 100%; width: 500vw; overflow: hidden; }
#banner .imgTab ul li{ float: left; width: 100vw; height: 100%; }
#banner .imgTab ul li:first-child{ background-color: #ff3c00; }
#banner .imgTab ul li:nth-of-type(2){ background-color: #040523; }
#banner .imgTab ul li:nth-of-type(3){ background-color: #ff3c00; }
#banner .imgTab ul li:nth-of-type(4){ background-color: #040523; }
#banner .imgTab ul li:nth-of-type(5){ background-color: #ff3c00; }
#banner .imgTab ul li .view{ width: auto; height: 100%; margin: 0 auto; padding-top: 80px; }
/*手机导航切换按钮*/
#banner .back,#banner .next{ user-select: none; position: absolute; top:0; height: 100%; width: 54px; background-color: rgba(0,0,0,.3); cursor: pointer; color: #fff; font-size: 30px; }
#banner .back{ left: 0; }
#banner .next{ right: 0; }

/*图标切换*/
#banner .btnTab{ position: absolute; bottom: 0; width: 100%; border-top: 2px solid #fff; height: auto; background: rgba(0,0,0,.3); user-select: none; }
#banner .btnTab ol{ display: none; position: relative; width: 614px; margin: 0 auto; padding-top: 22px; }
#banner .btnTab ol li{ position: relative; overflow: hidden; margin-right: 22px; cursor: pointer; width: 110px; border-radius: 5px; border: 1px solid #d99580; height: 60px; }
#banner .btnTab ol li:last-child{ margin-right: 0; }
#banner .btnTab ol li .maskLayer{ position: absolute; left: 0; top: 0; transition: .4s; width: 100%; height: 100%; background: rgba(0,0,0,.3);}
#banner .btnTab ol li.on .maskLayer{ background: transparent; }
#banner .btnTab ol .border{ position: absolute; transition: .4s; left: 0; z-index: 1; border: 4px solid #fff; width: 98px; height: 54px; border-radius: 5px; }
#banner .btnTab ol .border i.icon{ display: block; position: absolute; top: -26px; left: 40%; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: #fff solid 10px; }
#banner .btnTab ol li img{ width: 100%; height: 100%; }
/*课程回放*/
#main{ width: auto; margin: 56px auto 0; }
#main .courseTitle{ border-bottom: 1px solid #666; overflow: hidden; padding-bottom: 14px; margin-bottom: 36px; }
#main .courseTitle .tip{ width: 158px; height: 33px; float: none; display: flex; margin-bottom: 20px; }
#main .courseTitle .tip i.icon{ display: inline-block; width: 33px; height: 33px; background: url("../image/product/chanpinfuwu_39.png")no-repeat; }
#main .courseTitle .tip .text{ color: #ff3c00; font-size: 30px; line-height: 33px; text-indent: 5px; font-weight: lighter; }
#main .courseTitle .tab{ float: none; }
#main .courseTitle .tab ul{ display: flex; }
#main .courseTitle .tab ul li{ margin-right: 10px;  transition: .4s; }
#main .courseTitle .tab ul li:last-child{ margin-right: 0; }
#main .courseTitle .tab ul li a{ display: block;  transition: .4s; padding: 4px 6px; border-radius: 5px; font-size: 12px; color: #666; font-weight: lighter; }
#main .courseTitle .tab ul li a:hover{ color: #ff3c00; }
#main .courseTitle .tab ul li.active a{ background: #ff3c00; color: #fff; }

/*课程列表*/
#main .courseList{ padding: 0 8px; }
#main .courseList ul{ overflow: hidden; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; }
#main .courseList ul li{ margin: 0 0 23px 0; height: 290px; transition: .4s; width: auto; overflow: hidden; box-shadow: 0 2px 3px rgba(0,0,0,.2); }
#main .courseList ul li a.poster{ display: block; position: relative; height: 205px; }
#main .courseList ul li a.poster img{ width: 100%; height: 100%; }
#main .courseList ul li a.poster .t1{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 112px;
    height: 26px;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    text-align: center;
    transition: .4s;
    line-height: 26px;
    font-weight: lighter;
    background-color: #661800;
}
#main .courseList ul li a.poster .hidden{ position: absolute; top: 0; opacity: 0; left: 0; transition: .4s; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); }
#main .courseList ul li a.poster .hidden i.icon{ width: 60px; height: 60px; display: block; margin: 78px auto 0; background: url("../image/product/play.png")no-repeat; }
#main .courseList ul li .info{ padding: 10px 5px; }
#main .courseList ul li .info .t1{ font-size: 16px; font-weight: lighter; transition: .4s; color: #000; }
#main .courseList ul li .info .t1:hover{color: #ff3c00; }
#main .courseList ul li .info .t2{ font-size: 14px; color: #666;  font-weight: lighter; }
#main .courseList ul li .info .t3{ position: relative; }
#main .courseList ul li .info .t3 i.icon{ position: absolute; top: 4px; left: 0; width: 13px; height: 14px; display: inline-block; background: url("../image/product/time_icon.png")no-repeat; }
#main .courseList ul li .info .t3 .time{ position: absolute; left: 18px; font-size: 14px; color: #666; }
#main .courseList ul li .info .t3 b{ font-weight: lighter; position: absolute; right: 0; color: #666; }
/*下一页*/
#main .pageNext{ padding: 20px 10px; transition: .4s; overflow: hidden; }
#main .pageNext .btn{ width: auto; float: none; display: flex; -webkit-justify-content: center; justify-content: center; }
#main .pageNext .btn .up,#main .pageNext .btn .down{ display: block; padding: 13px 63px; border: 1px solid #e6e6e6; background-color: #fafafa; color: #666; font-size: 14px; }
#main .pageNext .btn ul{ display: none; }
#main .pageNext .btn ul li{ border: 1px solid #e6e6e6; }
#main .pageNext .btn ul li a{ display: block; padding: 12px 18px; text-align: center; color: #999; }





/*没有小于768px，是因为Bootstrap3以移端优先设计*/
@media (min-width: 660px) {
    #main .courseList ul li{ margin: 0 20px 23px 0; height: 290px; width: 295px; }
    #main .pageNext{ padding: 56px 46px; overflow: hidden; }
}

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
    #banner .back,#banner .next{ display: block; }

    #banner{ height: 828px; }
    #banner .imgTab ul li .view{ width: 1280px; height: 628px; }
    #banner .btnTab{ height: 120px; }
    #banner .btnTab ol{ display: flex; }

    #main .courseTitle .tip{ float: left; margin-bottom: 0; }
    #main .courseTitle .tab{ float: right; }
    #main .courseTitle .tab ul li{ margin-right: 36px; }
    #main .courseTitle .tab ul li a{ padding: 8px 12px; font-size: 14px; }
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
}


/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
    #main{ width: 1280px; }
    #main .pageNext .btn ul{ display: flex; }
    #main .pageNext .btn{ width: 776px; float: right; }

}