/*轮播*/
#banner{ display: none; position: relative; transition: .4s; height: 280px; overflow: hidden; width: 100vw; perspective: 1200px; }
#banner .imgTab{ position: relative; height: 100%; border-bottom: 2px solid #fff;width: 100vw; }
#banner .imgTab ul{ position: relative; height: 100%; width: 400%; overflow: hidden; display: flex; transition: .6s cubic-bezier(0.03, 0.98, 0.52, 0.99); }
#banner .imgTab ul li{ position: relative; width: 100vw; height: 100%; overflow: hidden; }
#banner .imgTab ul li:first-child{ background-color: #ff3c00; }
#banner .imgTab ul li .view{ position: relative; z-index: 1; width: auto; height: 100%; margin: 0 auto; padding-top: 80px; transition: 4000ms cubic-bezier(0.03, 0.98, 0.52, 0.99); }
/* list1 */
/*左侧*/
#banner .imgTab ul li .view p,
#banner .imgTab ul li .view div,
#banner .imgTab ul li .view i,
#banner .imgTab ul li .view a,
#banner .imgTab ul li .view span{ transform-style: preserve-3d; transition: 4000ms cubic-bezier(0.03, 0.98, 0.52, 0.99); }

#banner .imgTab ul li:nth-of-type(1) .view p{ position: absolute; color: #fff; }
#banner .imgTab ul li:nth-of-type(1) .view p.title{ font-size: 80px; font-weight: lighter; top: 244px; opacity: 0; }
#banner .imgTab ul li:nth-of-type(1) .view p.title i.icon{ display:block;position: absolute; top: -5px; right: -30px;width: 33px;height: 33px; background: url("../images/product/li1_chanpinfuwu_06.png")no-repeat center/cover; }
#banner .imgTab ul li:nth-of-type(1) .view p.subtitle{ font-size: 58px;font-family: 'Arial Black';top: 336px; opacity: 0; }
#banner .imgTab ul li:nth-of-type(1) .view p.info{ font-size: 32px;top: 443px;font-weight: lighter; opacity: 0; }
#banner .imgTab ul li:nth-of-type(1) .view p.text{ font-size: 18px; top: 490px; font-weight: lighter; opacity: 0; }
#banner .imgTab ul li:nth-of-type(1) .view a.btn{ position: absolute; display: block; top: 538px; font-size: 24px; opacity: 0; font-weight: lighter; color: #fff;border: 1px solid #fff; border-radius: 5px; padding: 5px 0 5px 16px; }
#banner .imgTab ul li:nth-of-type(1) .view a.btn i.icon{ display: inline-block;width: 9px; height: 17px; background: url("../images/product/btn.png") no-repeat center/cover; margin: 0 16px; }
/*右侧*/
#banner .imgTab ul li:nth-of-type(1) .view .dollar{ opacity: 0; position: absolute; top: 174px;display: block;right: 562px; width: 37px;height: 37px;background: url("../images/product/li1_chanpinfuwu_16.png")no-repeat; }
#banner .imgTab ul li:nth-of-type(1) .view .up{ opacity: 0; position: absolute; display: block;right: 40px;bottom: 72px; width: 50px;height: 50px;background: url("../images/product/li1_chanpinfuwu_13.png")no-repeat; }
#banner .imgTab ul li:nth-of-type(1) .view .round1{ opacity: 0; display: block; position: absolute;width: 3px;height: 3px; border-radius: 100%; border: 2px solid #ff9e80;top: 164px;right: 536px; }
#banner .imgTab ul li:nth-of-type(1) .view .round2,#banner .imgTab ul li:nth-of-type(1) .view .round3{ opacity: 0; display: block;position: absolute;width: 7px;height: 7px;border: 2px solid #ff9e80; border-radius: 100%; }
#banner .imgTab ul li:nth-of-type(1) .view .round2{ top: 234px;right: 600px; }
#banner .imgTab ul li:nth-of-type(1) .view .round3{ bottom: 68px;right: 95px; }
#banner .imgTab ul li:nth-of-type(1) .view .round4{ opacity: 0; display: block;position: absolute;width: 7px;height: 7px;border: 2px solid #ff6232; border-radius: 100%;bottom: 304px;right: 8px; }
#banner .imgTab ul li:nth-of-type(1) .view .arcLine{ opacity: 0; position: absolute;width: 192px;height: 206px;bottom: 54px;right: 422px; background: url("../images/product/3731516073223_.pic_hd.jpg")no-repeat; }
#banner .imgTab ul li:nth-of-type(1) .view .arcRound{ opacity: 0; position: absolute;width: 174px;height: 160px;top:170px;right: 10px; background: url("../images/product/3741516073224_.pic_hd.jpg")no-repeat; }
#banner .imgTab ul li:nth-of-type(1) .view .bigRound{ opacity: 0; position: absolute;width: 520px;height: 520px;top:146px;right: 52px; background: url("../images/product/li1_chanpinfuwu_03.png")no-repeat; }
#banner .imgTab ul li:nth-of-type(1) .view .people{ opacity: 0; position: absolute;width: 432px;height: 442px;top: 222px;right: 86px; background: url("../images/product/li1_chanpinfuwu_09.png")no-repeat; }
    /*list 2*/
#banner .imgTab ul li:nth-of-type(2){ background: #040523; }
#banner .imgTab ul li:nth-of-type(2) .view .redBox{
    width: 218px;background-color: #ff3c00;position: absolute;  height: 0;
}
#banner .imgTab ul li:nth-of-type(2) .view .redBox span{
    display:block;color: #fff;font-size: 80px;font-family: 'Arial Black';position: absolute;
    bottom: 10px;left: 0;width:100%;text-align: center;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(2) .view .title{
    position: absolute;font-size: 80px;color: #fff;font-weight: lighter;top:220px;left: 234px; opacity: 0;
}
#banner .imgTab ul li:nth-of-type(2) .view .subtitle{
    font-size: 58px;color: #fff;font-family: 'Arial Black';position: absolute;top:315px;left: 0; opacity: 0;
}
#banner .imgTab ul li:nth-of-type(2) .view .tip{
    background-color: #ff3c00;position:absolute;top: 446px;z-index: 1;width: 0;height: 46px;
}
#banner .imgTab ul li:nth-of-type(2) .view .tip span{
    display: block;opacity: 0;
    font-size: 32px;color: #fff;font-weight: lighter;text-align: center;
}
#banner .imgTab ul li:nth-of-type(2) .view a.btn{
    position: absolute; display: block; top: 538px; font-size: 24px; font-weight: lighter;opacity: 0;
    color:#fff;border: 1px solid #fff; border-radius: 5px; padding: 5px 0 5px 16px;
}
#banner .imgTab ul li:nth-of-type(2) .view a.btn i.icon{
    display: inline-block;width: 9px; height: 17px;
    background: url("../images/product/btn.png") no-repeat center/cover; margin: 0 16px;
}
#banner .imgTab ul li:nth-of-type(2) .view .name{
    position: absolute;top: 124px; right: 82px; height: 183px; width: 183px;
    background: url("../images/product/li2_line.png")no-repeat;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(2) .view .name .text1{
    position: absolute;top: 28px;color: #fff;left: 10px;font-size: 30px;font-weight: lighter;
}
#banner .imgTab ul li:nth-of-type(2) .view .name .text2{
    position: absolute;top: 104px;color: #ff3c00;font-size: 20px;font-weight: lighter;
    width:100%;text-align: center;
}
#banner .imgTab ul li:nth-of-type(2) .view .people{
    position: absolute;width: 441px;height: 785px;top: 30px;right: 206px;opacity: 0;
    background: url("../images/product/li2_man.png")no-repeat;
}
/*list 3*/
#banner .imgTab ul li:nth-of-type(3){
    background: #13154b url("../images/product/li3_el5.jpg")no-repeat center/cover;
}
#banner .imgTab ul li:nth-of-type(3) .view{ text-align: center; }
#banner .imgTab ul li:nth-of-type(3) .view .title{
    width: 632px;height: 114px;margin: 128px auto 0;opacity: 0;
    background: url("../images/product/li3_el1.png")no-repeat;
}
#banner .imgTab ul li:nth-of-type(3) .view .subtitle{
    width: 736px;height: 74px;background: url("../images/product/li3_el2.png")no-repeat;
    margin: 28px auto 0;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(3) .view .EN{
    opacity: 0;
    font-family: 'Arial Black';font-size: 44px; color: #fff;text-align: center;line-height: 100%;
}
#banner .imgTab ul li:nth-of-type(3) .view .star{
    width: 517px;height: 12px;background: url("../images/product/li3_el3.png")no-repeat;
    margin: 10px auto 0;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(3) .view .tip{
    margin: 14px auto 0;font-size: 18px; color: #fff; font-weight: lighter;
    text-align: center;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(3) .view .tip i.time{
    display: inline-block;width: 18px;height: 18px;margin-right: 5px;
    background: url("../images/product/li3_el4.png")no-repeat;vertical-align:-2px;
}
#banner .imgTab ul li:nth-of-type(3) .view a.btn{
    display: inline-block; font-size: 24px; font-weight: lighter;margin: 44px auto 0;
    color:#fff;border: 1px solid #fff; border-radius: 5px; padding: 5px 0 5px 16px;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(3) .view a.btn i.icon{
    display: inline-block;width: 9px; height: 17px;
    background: url("../images/product/btn.png") no-repeat center/cover; margin: 0 16px;
}

/* list 4 */
#banner .imgTab ul li:nth-of-type(4){
    background-color: #ff3c00;
}
#banner .imgTab ul li:nth-of-type(4) .view .title{
    font-size: 89px;font-weight: lighter;color: #fff;position: absolute;
    top: 234px;left: 0;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view .title i.icon{
    position: absolute;display: block;width: 34px;height: 33px;right: -34px;
    top: 3px;background: url("../images/product/li4_el6.png")no-repeat;
}
#banner .imgTab ul li:nth-of-type(4) .view .EN{
    font-size: 42px;color: #fff;font-family: 'Arial Black';position: absolute;
    top: 350px;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view .subtitle{
    position: absolute;top: 420px;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view .subtitle b{
    display: inline-block;width: 223px;height: 41px;background: url("../images/product/li4_el5.png")no-repeat;
}
#banner .imgTab ul li:nth-of-type(4) .view .subtitle span{
    display: inline-block;font-size: 32px;font-weight: lighter;color: #fff;vertical-align: bottom;
}
#banner .imgTab ul li:nth-of-type(4) .view a.btn{
    position: absolute;top:504px;left: 0; border-radius: 5px;border: 1px solid #fff;color: #fff;
    font-size: 24px;padding: 5px 0 5px 16px;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view a.btn i.icon{
    display: inline-block;width: 9px; height: 17px;
    background: url("../images/product/btn.png") no-repeat center/cover; margin: 0 16px;
}
#banner .imgTab ul li:nth-of-type(4) .view .bottom{
    position: absolute; width: 892px; height: 127px; bottom: 64px;right: -184px;
    background: url("../images/product/li4_el2.png")no-repeat;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view .line{
    position: absolute;width: 710px; height: 197px;bottom: 92px;right: -92px;
    background: url("../images/product/li4_el4.png")no-repeat;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view .ball{
    position: absolute;width: 710px;height: 377px;right: -150px;bottom: 86px;
    background: url("../images/product/li4_el3.png")no-repeat;opacity: 0;
}
#banner .imgTab ul li:nth-of-type(4) .view .play{
    position: absolute;width: 248px; height: 249px;bottom: 220px;right: 136px;
    background: url("../images/product/li4_el1.png")no-repeat;opacity: 0;
}
/* question*/
#banner .imgTab ul li:nth-of-type(4) .question{
    position: absolute;z-index:3; right: -8vw;color: #333;text-align: center;
    display: block;padding: 12px 12px; background: #fff url("../images/product/li4_el8.png")repeat;
}
#banner .imgTab ul li:nth-of-type(4) .question span{
    display: block;position: absolute;width: 12px;height: 42px;
    background: url("../images/product/li4_el7.png")no-repeat;top: 0;left: -12px;
}
#banner .imgTab ul li:nth-of-type(4) .question strong{
    display: block;position: absolute;width: 10px;height: 42px;top:0;right: -10px;
    background: url("../images/product/li4_el9.png")no-repeat;
}

@keyframes changeRight {
    from{
        right: -8vw;
    }
    to{
        right: 100vw;
    }
}

@keyframes LiMoveY {
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes LiMoveT {
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes LiMoveX {
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes changeOpacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes changeHeight {
    from{
        height: 0;
    }
    to{
        height: 274px;
    }
}
@keyframes changeWidth {
    from{
        width: 0;
    }
    to{
        width: 548px;
    }
}






    /*手机导航切换按钮*/
#banner .back,#banner .next{ user-select: none; position: absolute; top:0; height: 100%; width: 54px; background-color: rgba(0,0,0,.3); cursor: pointer; color: #fff; font-size: 30px; }
#banner .back{ left: 0; }
#banner .next{ right: 0; }

/*图标切换*/
#banner .btnTab{ position: absolute; bottom: 0; width: 100%; z-index: 1; border-top: 2px solid #fff; height: auto; background: rgba(0,0,0,.3); user-select: none; }
#banner .btnTab ol{ display: none; position: relative; width: 614px; margin: 0 auto; padding-top: 22px; }
#banner .btnTab ol li{ position: relative; overflow: hidden; margin-right: 22px; cursor: pointer; width: 110px; border-radius: 5px; border: 1px solid #d99580; height: 60px; }
#banner .btnTab ol li:last-child{ margin-right: 0; }
#banner .btnTab ol li .maskLayer{ position: absolute; left: 0; top: 0; transition: .4s; width: 100%; height: 100%; background: rgba(0,0,0,.3);}
#banner .btnTab ol li.on .maskLayer{ background: transparent; }
#banner .btnTab ol .border{ position: absolute; transition: .6s cubic-bezier(0.03, 0.98, 0.52, 0.99); left: 0; z-index: 1; border: 4px solid #fff; width: 106px; height: 54px; border-radius: 5px; }
#banner .btnTab ol .border i.icon{ display: block; position: absolute; top: -26px; left: 40%; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: #fff solid 10px; }
#banner .btnTab ol li img{ width: 100%; height: 100%; }
/*课程回放*/
#main{ width: auto; margin: 56px auto 0; }
#main .courseTitle{ border-bottom: 1px solid #666; overflow: hidden; padding-bottom: 14px; margin-bottom: 36px; }
#main .courseTitle .tip{ width: 158px; height: 33px; float: none; display: flex; margin-bottom: 20px; }
#main .courseTitle .tip i.icon{ display: inline-block; width: 33px; height: 33px; background: url("../images/product/chanpinfuwu_39.png")no-repeat; }
#main .courseTitle .tip .text{ color: #ff3c00; font-size: 30px; line-height: 33px; text-indent: 5px; font-weight: lighter; }
#main .courseTitle .tab{ float: none; }
#main .courseTitle .tab ul{ display: flex; }
#main .courseTitle .tab ul li{ margin-right: 10px;  transition: .4s; }
#main .courseTitle .tab ul li:last-child{ margin-right: 0; }
#main .courseTitle .tab ul li a{ display: block;  transition: .4s; padding: 4px 6px; border-radius: 5px; font-size: 12px; color: #666; font-weight: lighter; }
#main .courseTitle .tab ul li a:hover{ color: #ff3c00; }
#main .courseTitle .tab ul li.active a{ background: #ff3c00; color: #fff; }

/*课程列表*/
#main .courseList{ padding: 0 8px; }
#main .courseList ul{ overflow: hidden; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; }
#main .courseList ul li{ margin: 0 0 23px 0; height: 290px; transition: .4s; width: auto; overflow: hidden; box-shadow: 0 2px 3px rgba(0,0,0,.2); }
#main .courseList ul li a.poster{ display: block; position: relative; height: 205px; }
#main .courseList ul li a.poster img{ width: 100%; height: 100%; }
#main .courseList ul li a.poster .t1{    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 112px;
    height: 26px;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    text-align: center;
    transition: .4s;
    line-height: 26px;
    font-weight: lighter;
    background-color: #661800;
}
#main .courseList ul li a.poster .hidden{ position: absolute; top: 0; opacity: 0; left: 0; transition: .4s; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); }
#main .courseList ul li a.poster .hidden i.icon{ width: 60px; height: 60px; display: block; margin: 78px auto 0; background: url("../images/product/play.png")no-repeat; }
#main .courseList ul li .info{ padding: 10px 5px; }
#main .courseList ul li .info .t1{ font-size: 16px; font-weight: lighter; transition: .4s; color: #000; }
#main .courseList ul li .info .t1:hover{color: #ff3c00; }
#main .courseList ul li .info .t2{ font-size: 14px; color: #666;  font-weight: lighter; }
#main .courseList ul li .info .t3{ position: relative; }
#main .courseList ul li .info .t3 i.icon{ position: absolute; top: 4px; left: 0; width: 13px; height: 14px; display: inline-block; background: url("../images/product/time_icon.png")no-repeat; }
#main .courseList ul li .info .t3 .time{ position: absolute; left: 18px; font-size: 14px; color: #666; }
#main .courseList ul li .info .t3 b{ font-weight: lighter; position: absolute; right: 0; color: #666; }
/*下一页*/
#main .pageNext{ padding: 20px 10px; transition: .4s; overflow: hidden; }
#main .pageNext .btn{ width: auto; float: none; display: flex; -webkit-justify-content: center; justify-content: center; }
#main .pageNext .btn .up,#main .pageNext .btn .down{ display: block; padding: 13px 63px; border: 1px solid #e6e6e6; background-color: #fafafa; color: #666; font-size: 14px; }
#main .pageNext .btn ul{ display: none; }
#main .pageNext .btn ul li{ border: 1px solid #e6e6e6; }
#main .pageNext .btn ul li a{ display: block; padding: 12px 18px; text-align: center; color: #999; }





/*没有小于768px，是因为Bootstrap3以移端优先设计*/
@media (min-width: 660px) {
    #main .courseList ul li{ margin: 0 20px 23px 0; height: 290px; width: 295px; }
    #main .pageNext{ padding: 56px 46px; overflow: hidden; }
}

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
    /*banner*/
    #banner .back,#banner .next{ display: block; }
    #banner{ height: 828px; }
    #banner .imgTab ul li .view{ width: 1280px; height: 628px; }
    #banner .btnTab{ height: 120px; }
    #banner .btnTab ol{ display: flex; }

    #main .courseTitle .tip{ float: left; margin-bottom: 0; }
    #main .courseTitle .tab{ float: right; }
    #main .courseTitle .tab ul li{ margin-right: 36px; }
    #main .courseTitle .tab ul li a{ padding: 8px 12px; font-size: 14px; }
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
}


/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
    /*banner*/
    #banner{ display: block; }
    /*main*/
    #main{ width: 1280px; }
    #main .pageNext .btn ul{ display: flex; }
    #main .pageNext .btn{ width: 776px; float: right; }

}